*{
    margin: 0;
    padding: 0;
}
#root{
    margin: 0;
    background: rgb(9,9,121);
    background: linear-gradient(128deg, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%); 
    height: 100vh;
    width: 100vw;
}
#nav{
    display: flex;
}
.img{
    margin-top: 20px;
    margin-left: 20px;
    display: inline-block;
}
li{
    display: inline-block;
}
.searchfield{
    margin-top: 30px;
    margin-left: 450px;
    border: 1.5px solid black;
    height: 45px;
    width: 700px;
    border-radius:10px;
    color: rgb(190, 188, 188);
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
}
.note{
    margin-top: 20px;
    margin-left: 20px;
    color: #ffffff;
}
.note-div{
    border: 2px solid black;
    display:inline-block;
    height: 200px;
    width: 200px;
    margin: 20px;
    text-align: center;
    transition: .5s ease;
}
.note1{
    display: flex;
    justify-content: center;
} 

.main-div{
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    height: 300px;
   justify-content: center;
}
.note-div:hover{
    transform: scale(1.1);
    border: 2px solid #ffffff;
    border-radius: 6px;
}
input{
    margin: 3px;
    height: 35px;
    width: 650px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    background-color: transparent;
    color: white;
}
input:focus{
    outline: none;
}
button{
    border-style: none;
    margin: 2px;
    background-color: transparent;
    border-radius: 2px;
}